@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(242, 217, 174);
}

li {
    list-style: upper-roman;
    color: rgb(154, 48, 49);
    font-weight: bold;
    font-family: initial;
}

ul .categorias {
    text-decoration: underline;
    color: rgb(0, 128, 78);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    border-width: 2px;
    border-style: dotted;
    border-color: rgb(0, 155, 216);
}

.todo .categorias {
    list-style:disc;
}


h2 {
    color: #D83135;
    font-weight: bold;
    border: 1px rgb(0, 128, 78);
    border-radius: 10px;
}

h4 {
    color: #D83135;
    font-weight: bold;
}

h5 {
    color: #D83135;
    font-weight: bold;
}

center h6 {
    color: #D83135;
    font-weight: bold;
}

center {
    color: #D83135;
}

h3 center {
    color: #D83135;
}

.subtitulo+ {
    background-color: rgb(123, 175, 77);
}

.subtitulo+.parrafo {
    background-color: rgb(123, 175, 77);
    height: 1%;
    overflow: hidden;
    transition: 2s;
}

.parrafo {
    background-color: rgb(0, 128, 78);
}

.subtitulo:hover+.parrafo {
    height: 50px;
    background-color: rgb(168, 124, 82);
}


.subtitulo~* {
    background-color: rgb(123, 175, 77);
}
